<div class="confirm-main container">
    <marquee direction="right" scrollamount="15" style="background-color:rgb(204,255,204);">

        <img src="/assets/Images/delivery-guy_1.gif" width="150" height="200" />&emsp;
    </marquee>
    <div class="confirm-button">
        <div class="inside-confirm">
            <h3>Thank you for ordering!</h3>
            <p>Pay by cash</p>
            <a href='#'>
                <input type="button" value="Back to Home" class="btn btn-primary" />
            </a>
        </div>
    </div>
</div>
